# Python virtual environments
.venv/
venv/
.venv311/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Node modules
node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/